# Server Configuration
PORT=8080

# Database Configuration
DATABASE_URL=postgres://user:pass@localhost:5432/kobo?sslmode=disable

# Monnify Integration
MONNIFY_BASE_URL=https://api.monnify.com/v1
MONNIFY_CLIENT_ID=your_client_id_here
MONNIFY_CLIENT_SECRET=your_client_secret_here
MONNIFY_CONTRACT_CODE=11111111
MONNIFY_WALLET_ACCOUNT_NUMBER=454949494
MONNIFY_WEBHOOK_SECRET=your_webhook_secret_here
